<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login | Demo Shop</title>

    <link rel="stylesheet" th:href="@{libraries/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{styles/main.css}">
</head>
<body>

<div class="container-fluid">
    <div id="content" class="container">
        <div class="form-group">
            <label for="emailInput">Email:</label>
            <input type="text" class="form-control" id="emailInput"/>
        </div>
        <div class="form-group">
            <label for="passwordInput">Password:</label>
            <input type="password" class="form-control" id="passwordInput"/>
        </div>
        <button id="login-button" type="submit" class="btn btn-success">Login</button>
        [[${authenticated}]]
    </div>
</div>

</body>
<script type="text/javascript" th:src="@{libraries/jquery/jquery-3.5.1.min.js}"></script>
<script type="text/javascript" th:src="@{libraries/bootstrap/js/bootstrap.bundle.js}"></script>
<script type="text/javascript" th:src="@{scripts/main.js}"></script>
<script type="text/javascript">
    $('#passwordInput').keypress(function (e) {
        if (e.which === 13) {
            $('#login-button').click();
        }
    });

    $('#login-button').click(function () {
        let username = $('#emailInput').val();
        let password = $('#passwordInput').val();
        login(username, password, function (data) {
            console.log(JSON.stringify(data));
        });
    });
</script>
</html>